body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: darkblue;
    margin-top: 20px;
}

p {
    font-size: 18px;
    color: #333;
    background-color: #ffffff;
    padding: 15px;
    margin: 20px auto;
    width: 60%;
    border-radius: 8px;
    border: 1px solid #ccc;
}

#output {
    background-color: white;
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

#output p {
    font-size: 18px;
    color: black;
    margin: 10px 0;
}