body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #2a9d8f;
    margin-top: 30px;
}

p {
    color: #333;
    font-size: 18px;
    margin: 10px 0 20px 0;
}

a {
    display: block;
    margin: 10px auto;
    text-decoration: none;
    color: #457b9d;
    font-weight: bold;
    padding: 10px;
    width: 250px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: 0.3s;
}

a:hover {
    background-color: #457b9d;
    color: white;
}