* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f4f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    font-family: Arial;
}

h1 {
    background-color: white;
    width: 300px;
    padding: 10px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

form {
    background-color: white;
    width: 300px;
    padding: 10px;
    display: flex;
}

input {
    flex: 1;
    padding: 8px;
}

button {
    background-color: green;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
}

ul {
    background-color: white;
    width: 300px;
    padding: 10px;
    list-style: none;
    border-radius: 0 0 10px 10px;
}

li {
    background-color: #eee;
    padding: 8px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}